<script src="<%= angularLibPath %>"></script>
<script>
	angular.module('MyApp', [])
		.controller('MyCtrl', function($scope) {
			$scope.browsers = ['Chrome', 'Safari', 'Firefox'];
			$scope.person = {
				name: 'John Doe',
				age: 30,
				friends: [
					{name: 'Joe', age: 28},
					{name: 'Jane', age: 31}
				]
			};
		});
</script>

<div class="angular-root-element" ng-app="MyApp">

	<div ng-controller="MyCtrl">

		<ul>
			<li nng-repeat="browser in browsers">{{browser}}</li>
		</ul>

		<p>This scenario tests the expand/collapse functionality for scopes, array models and object models.</p>

	</div>

	<button type="button" onclick="window.ngInspector.toggle()" id="ngInspectorToggle">ngInspector</button>
</div>