/* Highlights */
.ngi-hl {
  padding: 0px;
  font: sans-serif 14px;
  line-height: 14px;
  text-indent: 3px;
  position: absolute;
  text-align: right;
  z-index: 9999999999999 !important;
  pointer-events: none;
}
.ngi-hl.ngi-hl-scope {
  background: rgba(126, 183, 253, 0.3);
  border: 1px solid rgba(126, 183, 253, 0.7);
  color: #6da9d7;
}
.ngi-hl.ngi-hl-binding {
  background: rgba(217, 83, 79, 0.3);
  border: 1px solid rgba(217, 83, 79, 0.7);
  color: #cc2b28;
}
body.ngi-resize {
  cursor: col-resize !important;
}
body.ngi-resizing {
  -webkit-user-select: none;
  user-select: none;
  cursor: col-resize !important;
}
.ngi-inspector {
  /* Dimensions and Positioning */
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 999999999999 !important;
  /* Styling */
  background: #D8D8D8;
  border-left: 1px solid #B0B0B0;
  font-family: 'Helvetica Neue', sans-serif;
  /* Scrolling */
  overflow-y: auto;
  overflow-x: hidden;
  /* Prevent selection */
  -webkit-user-select: none;
  user-select: none;
  /* Animate the clickthrough fade-out */
  transition: opacity .2s;
}
.ngi-inspector * {
  margin: 0 !important;
  padding: 0;
  font-size: 13px !important;
}
.ngi-inspector.ngi-processing {
  background-image: url(chrome-extension://__MSG_@@extension_id__/processing.png);
  background-position: center center;
  background-repeat: no-repeat;
}
/* Clickthrough */
.ngi-inspector.ngi-clickthrough {
  pointer-events: none;
  opacity: .2;
}
.ngi-inspector .ngi-app > label {
  box-sizing: border-box;
  display: block;
  font-weight: bold;
  padding: 0 .5em;
  line-height: 30px;
  border-top: 1px solid #B0B0B0;
  border-bottom: 1px solid #B0B0B0;
  background-image: linear-gradient(-179deg, #f4f4f4 0%, #ededed 97%);
}
.ngi-inspector .ngi-app:first-child > label {
  border-top: 0;
}
.ngi-inspector .ngi-app:not(:first-child) {
  margin-top: -1px;
}
.ngi-inspector .ngi-app > label > small {
  color: #999;
}
.ngi-inspector .ngi-scope {
  background: #fff;
}
.ngi-inspector .ngi-scope > label {
  box-sizing: border-box;
  display: block;
  line-height: 30px;
  padding: 0 5px 0 24px;
  background: #f8f8f8 url(chrome-extension://__MSG_@@extension_id__/icons/scope.png) no-repeat 4px 7px;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  cursor: pointer;
}
.ngi-inspector .ngi-scope.ngi-isolate-scope > label {
  background: #f8f8f8 url(chrome-extension://__MSG_@@extension_id__/icons/isolate-scope.png) no-repeat 4px 7px;
}
.ngi-inspector .ngi-app > .ngi-scope > label {
  border-top: 1px solid #F8F8F8;
}
body:not(.ngi-resizing) .ngi-inspector .ngi-scope > label:hover {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/scope.png), linear-gradient(-179deg, #82beeb 0%, #5290d7 100%);
  background-position: 4px 7px, 0 0;
  text-shadow: -1px -1px 0 #5290d7, 1px 1px 0 #82beeb;
  color: white;
  border-top: 1px solid #6EA9E1;
  border-bottom: 1px solid #4881C6;
}
body:not(.ngi-resizing) .ngi-inspector .ngi-scope.ngi-isolate-scope > label:hover {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/isolate-scope.png), linear-gradient(-179deg, #82beeb 0%, #5290d7 100%);
}
.ngi-inspector .ngi-scope .ngi-annotation {
  margin-left: 5px !important;
  font-weight: normal;
}
.ngi-inspector .ngi-scope .ngi-annotation.ngi-annotation-dir {
  padding: 2px 5px !important;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: #F8F8F8;
  text-shadow: none !important;
}
.ngi-inspector .ngi-scope .ngi-annotation.ngi-annotation-ctrl {
  padding: 2px 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: none !important;
}
.ngi-inspector .ngi-scope .ngi-annotation.ngi-annotation-builtin {
  padding: 0px !important;
  background: transparent;
  color: rgba(0, 0, 0, 0.4);
}
.ngi-inspector .ngi-model > label {
  padding: 0 5px 0 24px;
  background: #ffffff url(chrome-extension://__MSG_@@extension_id__/icons/model.png) no-repeat 4px 7px;
  position: relative;
}
.ngi-inspector .ngi-model > label .ngi-value {
  font-weight: normal;
}
.ngi-inspector .ngi-model.ngi-model-string > label {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/string.png);
}
.ngi-inspector .ngi-model.ngi-model-function > label {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/function.png);
}
.ngi-inspector .ngi-model.ngi-model-object > label {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/object.png);
}
.ngi-inspector .ngi-model.ngi-model-array > label {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/array.png);
}
.ngi-inspector .ngi-model.ngi-model-boolean > label {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/boolean.png);
}
.ngi-inspector .ngi-model.ngi-model-number > label {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/number.png);
}
.ngi-inspector .ngi-model.ngi-model-element > label {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/element.png);
}
.ngi-inspector .ngi-model.ngi-model-undefined > label {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/undefined.png);
}
.ngi-inspector .ngi-model.ngi-model-null > label {
  background-image: url(chrome-extension://__MSG_@@extension_id__/icons/null.png);
}
.ngi-inspector .ngi-model.ngi-model-string > label > .ngi-value {
  color: green;
}
.ngi-inspector .ngi-model.ngi-model-boolean > label > .ngi-value {
  color: #0000ff;
}
.ngi-inspector .ngi-model.ngi-model-number > label > .ngi-value {
  color: red;
}
.ngi-inspector .ngi-model.ngi-model-function > label > .ngi-value,
.ngi-inspector .ngi-model.ngi-model-object > label > .ngi-value,
.ngi-inspector .ngi-model.ngi-model-array > label > .ngi-value,
.ngi-inspector .ngi-model.ngi-model-element > label > .ngi-value {
  color: black;
}
.ngi-inspector .ngi-model.ngi-model-null > label > .ngi-value,
.ngi-inspector .ngi-model.ngi-model-undefined > label > .ngi-value {
  color: gray;
}
body:not(.ngi-resizing) .ngi-inspector .ngi-model > label:hover {
  cursor: pointer;
  color: #53A0FD;
}
.ngi-inspector label {
  display: block !important;
  line-height: 30px !important;
  padding: 0 .5em !important;
}
.ngi-inspector label .ngi-indicator {
  background: #bbb;
  color: white ;
  border-radius: 9px;
  padding: 0 .5em !important;
  position: absolute;
  line-height: 18px;
  top: 5px;
  right: 7px;
}
.ngi-inspector .ngi-drawer.ngi-collapsed {
  display: none;
}
.ngi-inspector ul {
  list-style: none;
}
.ngi-inspector label img {
  vertical-align: -3px;
}
.ngi-inspector label b {
  font-weight: bold;
}
.ngi-inspector .ngi-depth-0 {
  padding-left: 25px !important;
  background-position: 5px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-1 {
  padding-left: 40px !important;
  background-position: 20px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-2 {
  padding-left: 55px !important;
  background-position: 35px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-3 {
  padding-left: 70px !important;
  background-position: 50px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-4 {
  padding-left: 85px !important;
  background-position: 65px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-5 {
  padding-left: 100px !important;
  background-position: 80px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-6 {
  padding-left: 115px !important;
  background-position: 95px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-7 {
  padding-left: 130px !important;
  background-position: 110px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-8 {
  padding-left: 145px !important;
  background-position: 125px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-9 {
  padding-left: 160px !important;
  background-position: 140px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-10 {
  padding-left: 175px !important;
  background-position: 155px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-11 {
  padding-left: 190px !important;
  background-position: 170px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-12 {
  padding-left: 205px !important;
  background-position: 185px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-13 {
  padding-left: 220px !important;
  background-position: 200px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-14 {
  padding-left: 235px !important;
  background-position: 215px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-15 {
  padding-left: 250px !important;
  background-position: 230px 7px, 0 0 !important;
}
.ngi-inspector .ngi-depth-16,
.ngi-inspector .ngi-depth-17,
.ngi-inspector .ngi-depth-18,
.ngi-inspector .ngi-depth-19,
.ngi-inspector .ngi-depth-20,
.ngi-inspector .ngi-depth-21,
.ngi-inspector .ngi-depth-22,
.ngi-inspector .ngi-depth-23,
.ngi-inspector .ngi-depth-24,
.ngi-inspector .ngi-depth-25,
.ngi-inspector .ngi-depth-26,
.ngi-inspector .ngi-depth-27,
.ngi-inspector .ngi-depth-28,
.ngi-inspector .ngi-depth-29,
.ngi-inspector .ngi-depth-30 {
  padding-left: 265px !important;
  background-position: 245px 7px, 0 0 !important;
}
