@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	background-color: #fff;
	margin: 0;
}


main {
	font-family: 'Lato', sans-serif;
	color: #444;
	text-align: center;
}

h1 {
	font-size: 58px;
	font-weight: 300;
	margin: 0;
}

h2 {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
}

p {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
}

img {
	max-width: 100%;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Header */

header {
	padding-top: 90px;
	text-align: center;
}

.slogan {
	color: #666;
	font-size: 36px;
	font-weight: 300;
	margin-top: 60px;
}

/* Screenshot */

#screenshot {
	position: relative;
	margin-top: 30px;
}
.screenshot { display: none; }

.separator {
	position: absolute;
	bottom: 0; left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

/* Description */

#description {
	max-width: 80%;
	margin: -25px auto 0 auto;
	position: relative;
}

/* Features */

#features {
	max-width: 750px;
	margin: 0 auto;
}

#features h1 {
	margin: 75px 0 75px 0;
}

#features ul {
	text-align: left;
}

#features li {
	position: relative;
	min-height: 60px;
	padding-left: 80px;
	margin-bottom: 30px;
}

.feature-icon {
	width: 60px;
	height: 60px;
	display: block;
	background: url(../images/feature-icons.png) no-repeat;
	position: absolute;
	left: 0;
	top: -5px;
}
.feature-scopes { background-position: 0 0; }
.feature-dom { background-position: 0 -60px; }
.feature-ctrl-direc { background-position: 0 -120px; }
.feature-models { background-position: 0 -180px; }
.feature-real-time { background-position: 0 -240px; }

/* Download */

#download h1 {
	margin: 100px 0 0 0;
}

.version {
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 75px 0;
}

.download-btn {
	display: inline-block;
	zoom: 1;
	width: 275px;
	height: 85px;
	border: 2px solid #444;
	border-radius: 8px;
	color: #444;
	text-decoration: none;
	position: relative;
	margin: 0 30px;
}
.download-btn:hover {
	background: #f0f0f4;
}

.download-btn p {
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	position: absolute;
	right: 20px;
	text-align: right;
	top: 15px;
}

.dl-icon {
	background: url(../images/browser-icons.png) no-repeat;
	display: inline-block;
	width: 60px;
	height: 80px;
	position: absolute;
	left: 15px;
}
.dl-icon.safari { background-position: 0 0; }
.dl-icon.chrome { background-position: 0 -80px; }
.dl-icon.github { background-position: 0 -160px; }

/* Footer */

footer {
	font-size: 16px;
	font-weight: 300;
	margin-top: 200px;
	padding-bottom: 1em;
}

.meta {
	margin: 0 50px;
}