@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
	background-color: #fff;
	margin: 0;
}


main {
	font-family: 'Lato', sans-serif;
	color: #444;
	text-align: center;
}

h1 {
	font-size: 48px;
	font-weight: 300;
	margin: 0;
	color: #4480ED;
}

h2 {
	font-size: 22px;
	font-weight: 400;
	margin: 0;
}

p {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
}

img {
	max-width: 100%;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Header */

header {
	padding-top: 90px;
	text-align: center;
}

.slogan {
	color: #777;
	font-size: 34px;
	font-weight: 300;
	margin-top: 60px;
}

/* Screenshot */

#screenshot {
	position: relative;
	margin-top: 30px;
}
.screenshot { display: none; }

.separator {
	position: absolute;
	bottom: 0; left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

/* Description */

#description {
	max-width: 750px;
	margin: 0 auto 0 auto;
	position: relative;
	box-sizing: border-box;
	padding: 0 40px;
}

/* Features */

#features {
	max-width: 750px;
	margin: 0 auto;
}

#features h1 {
	margin: 75px 0 55px 0;
}

#features ul {
	text-align: left;
}

#features li {
	position: relative;
	margin: 0 40px;
	width: 295px;
	display: block;
	height: 200px;
	float: left;
}

@media (max-width: 749px) {
	#features li {
		width: auto;
		height: auto;
		margin-bottom: 35px;
	}
	.feature-icon {
		margin: 0 auto 4px auto;
	}
	h2 {
		text-align: center;
	}
}

#features li:last-child {
	height: auto;
}

#features ul:after {
	content: '';
	display: block;
	clear: both;
}

.feature-icon {
	width: 48px;
	height: 48px;
	display: block;
	background: url(../images/feature-icons.png) no-repeat;
	margin-bottom: 4px;
}
.feature-scopes { background-position: 0 0; }
.feature-dom { background-position: 0 -48px; }
.feature-ctrl-direc { background-position: 0 -96px; }
.feature-models { background-position: 0 -144px; }
.feature-real-time { background-position: 0 -192px; }

/* Download */

#download h1 {
	margin: 100px 0 0 0;
}

.version {
	font-size: 18px;
	font-weight: 300;
	margin: 0 0 50px 0;
}

.dl-btn {
	display: inline-block;
	zoom: 1;
	width: 275px;
	height: 85px;
	border: 2px solid #eeeeef;
	border-radius: 8px;
	color: #444;
	text-decoration: none;
	position: relative;
	margin: 0 30px;
	transition: border-color .3s;
}
.dl-btn:hover {
	border-color: #ccccce;
}

.dl-btn p {
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	position: absolute;
	right: 20px;
	text-align: right;
	top: 50%;
	margin-top: -21px;
}

.dl-btn small {
	font-size: 14px;
	font-weight: 300;
	display: block;
	line-height: 18px;
}

.dl-icon {
	background: url(../images/browser-icons.png) no-repeat;
	display: inline-block;
	width: 60px;
	height: 80px;
	position: absolute;
	left: 15px;
	opacity: .4;
	transition: opacity .3s;
}
.dl-btn:hover .dl-icon {
	opacity: .9;
}
.dl-icon.safari { background-position: 0 0; top: 2px; }
.dl-icon.chrome { background-position: 0 -80px; }
.dl-icon.github { background-position: 0 -160px; }


@media (max-width: 1025px) {
	.dl-btn {
		display: block;
		margin: 15px auto 15px auto;
	}
}

/* Footer */

footer {
	font-size: 16px;
	font-weight: 300;
	margin-top: 150px;
	padding-bottom: 1em;
}

.meta {
	margin: 0 25px;
}

.meta a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}
.meta a:hover {
	text-decoration: underline;
}